.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 25px;
    left: 20px;
    border-radius: 5px;
}

.dropdown-content p {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.challenge-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.challenge-img {
    position: absolute;
    width: 40%;
    z-index: -1;
    bottom: -56px;
    left: -53px;
}

.challenge-img img {
    width: 100%;
}

.instructions {
    margin-left: 20px;
    margin-top: 60px;
    padding: 10px;
    border-radius: 5px;
    width: 800px;
}

.instructions h1 {
    color: #4c068a;
    font-size: 50px;
}

.instructions p {
    margin: 10px auto;
}

.instructions img {
    width: 80%;
}

.code-container {
    width: 50%;
    background-color: #4c068a;
    padding: 30px 10px;
    border-radius: 15px;
}

.code {
    width: 95%;
    margin: 0 auto;
}

.editor-container {
    width: 100%;
}

.editor {
    margin: 0 auto;
    width: 100%;
}

.editor-box {
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262729;
}

.btn-control {
    display: flex;
    align-items: center;
}

.theme-container {
    width: 50px;
    margin: 0 10px;
    height: 50px;
    text-align: center;
    background-color: #303133;
    cursor: pointer;
}

.theme {
    width: 60%;
    margin: 9px auto;
}

.btn {
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    color: #4c068a;
    background-color: #191a1a;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
    outline: none;
}

.btn:hover {
    background-color: #050505;
    cursor: pointer;
}

.output-container {
    width: 100%;
}

.output-box {
    border: 1px solid transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #262729;
}

.title {
    padding-left: 10px;
    font-weight: bold;
    color: #fff
}

.output {
    width: 100%;
    border: 1px solid #141414;
    padding: 15px;
    min-height: 250px;
    background-color: #141414;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.output-light {
    background-color: #fff;
    color: #000
}

.output:focus {
    outline: none;
}

.output-error {
    outline: none;
}

.output-success {
    outline: none;
    border-color: red;
}

.result {
    background: #262729;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}