.register-container {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url("./img/register-bg.jpg");
    height: 100vh;
    background-size: cover;
    padding-top: 100px;
}

.register-form {
    width: 25%;
    background-color: rgba(255, 255, 255);
    margin: 0 auto;
    padding: 70px 60px 60px 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    height: 80vh;
}

.register-form h2 {
    margin: 10px 0 20px 0;
}

.form-logo-container {
    width: 250px;
    text-align: center;
}

.form-logo {
    width: 200px;
    padding: 0;
}


.submit-btn {
    margin-top: 20px;
}

.register_error {
    width: 330px;
    background-color: #ffeeee;
    padding: 15px;
    text-align: center;
    color: red;
    border-radius: 5px; 
}

.show_erro {
    color: #ff0000;
    width: 330px;

}

.form_erro {
    display: none;
}

@media (max-width: 1240px) {
    .register-form {
        width: 60%
    }
}



@media (max-width: 800px) {
    .register-container {
        width: 100%;
        margin: 0 auto;
        background: #fff;
        height: 100vh;
        padding: 65px 0;
        background: linear-gradient(to bottom left, #12c2e9, #b7088b, #4c068a)
    }
    .register-form {
        width: 70%;
        border: solid 1px #ccc;
        border-radius: 5px;
    }
    .register-form h2 {
        font-size: 20px;
    }
}

@media (max-width:500px) {
    .register-container {
        width: 100%;
        margin: 0 auto;
        background: #fff;
        height: 100vh;
        padding: 40px 0;
        background: linear-gradient(to bottom left, #12c2e9, #b7088b, #4c068a)
    }
    .register-form {
        width: 90%;
        border: solid 1px #ccc;
        border-radius: 5px;
    }
    .register-form h2 {
        font-size: 20px;
    }
}